<main class="content">
  <fieldset class="form-info">
    <h2 class="form-info__title">User Settings</h2>

    <div class="form-field">
      <div class="input-field">
        <label class="label" for="name">Name</label>
        <input class="input" id="name" type="text" value="<%= @current_user[:name] %>" placeholder="John Smith" />
      </div>

      <div class="input-field">
        <label class="label" for="password">New Password</label>
        <input class="input" id="password" type="password" />
      </div>

      <div class="input-field">
        <label class="label" for="email">Email</label>
        <input class="input" id="email" type="email" value="<%= @current_user[:email] %>" placeholder="user@foo-corp.com" >
      </div>

      <div class="input-field">
        <label class="label" for="confirm_password">Repeat New Password</label>
        <input class="input" id="confirm_password" type="password" />
      </div>
    </div>
  </fieldset>

  <fieldset class="form-info">
    <h2 class="form-info__title">App Settings</h2>

    <div class="form-field">
      <div class="input-field">
        <label class="label" for="domain">Custom domain</label>
        <input class="input" id="domain" type="text" placeholder="foo-corp.cloudapp.com" />
      </div>

      <div class="input-field">
        <label class="label">Single Sign-On</label>

        <span
          class='workos-container'
          data-prop-app-name='Enterprise Co.'
          data-prop-domain='<%= @current_user.dig(:account, :domain) %>'
          data-prop-name='<%= @current_user.dig(:account, :name) %>'
          data-prop-publishable-key='<%= ENV['WORKOS_PUBLISHABLE_KEY'] %>'
        ></span>
      </div>
    </div>
  </fieldset>
</main>

<script type='text/javascript'>
  document.addEventListener('workos:providerLinked', function (event){
    console.log(event.detail)
    var xhr = new XMLHttpRequest();
    xhr.open("POST", '/confirm', true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.send("token=" + event.detail.token);
  })
</script>
